<!doctype html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>StegApp</title>

<script>
tailwind.config = {
theme:{
extend:{
fontFamily:{
sans:['"Helvetica Neue"', "Helvetica","Arial","sans-serif"]
}
}
}
}
</script>

<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="min-h-screen text-gray-900">

<!-- NAVBAR -->
<nav class="sticky top-0 backdrop-blur bg-white/60 border-b border-gray-200 z-50">

<div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">

<a href="/" class="text-xl font-bold text-indigo-600">
StegApp 🔐
</a>

<div class="flex gap-8 text-sm font-medium">

<a href="/encode" class="hover:text-indigo-600">
Encode
</a>

<a href="/decode" class="hover:text-indigo-600">
Decode
</a>

</div>

</div>

</nav>


<main class="max-w-6xl mx-auto px-6 py-16">

{% block content %}{% endblock %}

</main>


<footer class="text-center text-sm text-gray-500 py-10">

Built with Flask • AES Encryption • LSB Steganography

</footer>

</body>
</html>